
  body{

    background:#e6ebf1;

  }


.section-a{
  padding: 30px 0;
  text-align: center;
  
  margin-top:29px;

  

  .far{
    font-size: $icon-size;
    color:#1a8c97;

  }
  .fas{
    font-size: $icon-size;
    color:#1a8c97;
  }
  .fab{
    font-size: $icon-size;
    color:#1a8c97;
  }

}

.section-b{
  text-align: center;
  }

.section-c{
  padding: 30px 0;
  text-align: center;
 

  
}

.showcase{
  background: url(/img/pic4.jpeg) no-repeat;
  height:500px;
  padding:30px 0;

  h1{
    font-size:30px;
  }

  .container{
    background: #e6ebf1;
    opacity: 0.8;
    padding: 20px 30px 30px 30px;
    
  }
}

.showcase2{
  background: url(/img/pic8.jpeg) no-repeat;
  height:400px;
  padding:30px 0;

  
}


.showcase3{
  background: url(/img/pic7.jpeg) no-repeat;
  height:400px;
  padding:30px 0;

  
}

.showcase4{
  background: url(/img/pic9.jpeg) no-repeat;
  height:400px;
  padding:30px 0;

}




footer{
  padding: 30px 0;
  text-align: center;
  
 }




